.user {
  padding: 5px;
  max-height: 60px;
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  max-height: 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.user .col-1 img {
  max-width: 30%;
  min-width: 5%;
}
.user .col-4 {
  justify-content: end !important;
}
.user .col-7 {
  margin: auto;
}

.row {
  --bs-gutter-x: 0 !important;
}

.usermain .main_user_letf {
  padding: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 15px;
}
.usermain .main_user_letf button {
  border: 0;
  height: 10px !important;
  padding-bottom: 0;
  padding-left: 40px;
  background: white;
  color: black;
  text-align: left;
  width: 100%;
}
.usermain .main_user_right {
  height: 91.2vh;
  padding: 30px;
}
.usermain .main_user_right .main_user_Search {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
}
.usermain .main_user_right .main_user_Search input {
  height: 100%;
  border-radius: 5px;
  border: 3px solid whitesmoke;
}
.usermain .main_user_right .main_user_Search button {
  box-sizing: border-box;
}
.usermain .main_user_right .dulieu_api {
  overflow: scroll !important;
  width: 100%;
  height: 80%;
}
.usermain .main_user_right .dulieu_api table {
  font-size: 20px;
}
.usermain .main_user_right .dulieu_api table i {
  margin: 10%;
}
.usermain .main_user_right .dulieu_api table img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.usermain .main_user_right .dulieu_api table tr {
  border-bottom: 1px solid #f7f6f1;
}